* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --bg-color: #010409;
    --btn-primary-color: #29903B;
    --btn-danger-color: #B62324;
    --bg-secondary-color: #0D1117;

    --ff-primary: 'Poppins', sans-serif;
    --text-color: #ffff;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body {
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--bg-color);
}

body * {
    font-family: var(--ff-primary);
}

#app {
    max-width: 50rem;
    margin: 0 auto;
    padding: 2rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 2.5rem 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img {
    width: 32px;
}

.logo a {
    text-decoration: none;
}

.logo a h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    color: var(--text-color);
    background-color: var(--bg-secondary-color);
    height: 3.2rem;
    border: 1px solid #ffff;
    border-radius: .4rem 0 0 .4rem;
    padding: 0 .8rem;
}

.search input:focus {
    border: none;
    outline: 1px solid #1745cf;
}

.search button {
    height: 3.2rem;
    color: var(--text-color);
    background-color: var(--btn-primary-color);
    border-radius: 0 .4rem .4rem 0;
    border: none;
    padding: 0 1rem;

    cursor: pointer;
}

.search button:hover {
    filter: brightness(1.1);
}

table {
    width: 100%;
    border-collapse: collapse;

    box-shadow: 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

table * {
    font-size: 1.4rem;
    color: var(--text-color);
}

table th {
    background-color: var(--bg-secondary-color);
    text-align: left;
    font-weight: normal;
    padding: 1.5rem;
}

table th:first-child {
    border-top-left-radius: .4rem;
}

table th:last-child {
    border-top-right-radius: .4rem;
}

table tr {
    background-color: var(--bg-secondary-color);
}

table tr:nth-child(odd) {
    background-color: var(--bg-color);
}

table td {
    padding: 1.5rem;
    text-align: left;
}

td.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

td.user a {
    text-decoration: none;
}

td.user a:hover {
    text-decoration: underline;
}

td.user a p {
    font-weight: bold;
}

td.user img {
    width: 5rem;
    height: 5rem;

    object-fit: cover;
    border-radius: 50%;
}

td.repositories, 
td.followers {
    text-align: center;
}

.remove-button {
    cursor: pointer;
    color: var(--text-color);
    font-weight: 600;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--btn-danger-color);
}

footer {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

footer p a {
    color: var(--text-color);
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}